.product {
	display: flex;
	flex-direction: column;
	flex-flow: row;
	align-items: center;
	background-color: white;
	justify-content: flex-end;
	margin: 10px;
	padding: 20px;
	width: 100%;
	max-height: 400px;
	min-width: 100px;
	z-index: 1;
	border-right: solid 1px #D5DBDB;
	border-bottom: solid 1px #D5DBDB;
	border-radius: 2ch;
}

.product__rating {
	/* margin-bottom: 6px; */
	display: flex;
}



.product>button {
	background: #f0c14b;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
	border-radius: 0.5ch;
}

.product__price {
	margin-top: 5px;
}

.product__info {
	height: 100px;
	margin-bottom: 15px;
}

.product__desc {
	margin: 5px;
}

.product>img {
	max-height: 200px;
	width: 100%;
	object-fit: contain;
	margin-top: 15px;
	margin-bottom: 15px;
}